@use "../variables";
* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 2rem;
  font-family: variables.$font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: variables.$staf-bg;
  color: variables.$staf-corporate;
}
a {
  text-decoration: none;
  color: variables.$staf-corporate;
}
.header {
  background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0,0,0, .2)), url(../images/header.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 120px;
  color: rgb(96, 226, 194);
  
}
.menu-burger {
   background-color: rgb(6, 58, 45);
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
}
.menu {
 
  ul{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 1.2rem;
  }
  a {
    color: rgb(96, 226, 194);
    
  }
  
}

.staf-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}
